<div class="modal fade" id="deleteSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="bg modal-content">
            <form action="skill/delete" method="post">
              <input type="hidden" name="skill_id" id="delete-modal-id" />
              <div class="modal-body fw-bold d-flex justify-content-lg-center align-items-center flex-column">
                <i class="bi bi-exclamation-circle fs-1 text-danger"></i>
                <h3 class="fs-4 text-light">Do you want to delete your information ?</h3>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
                  <button type="submit" class="btn btn-danger">Yes</button>
              </div>
            </form>
        </div>
    </div>
  </div>